@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'CozetteVector';
    src: url('CozetteVector.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

*::selection {
    background-color: theme("colors.indigo.700");
}

.dashboard *::selection {
    background-color: theme("colors.slate.600");
}